body {
    background: white;
    color: black;
}
    
.product_tittle{
    color: green;
}

.product_link{
    color: purple;
    text-decoration: underline;
}

.product_description{
    color: red;
}

.product_img{
    width: 500px;
    height: 500px;
}

.h5box {
    color: white;
    background: purple;
    padding: 30px;
    border: 5px solid black;
    margin:  10px;
}

.buttonBox {
    background: black ;
    padding: 30px;
    border: 5px solid blue;
    color: white;
    margin: 10px;
}