body {
    background: black;
    color: white;
}
    
.product_tittle{
    color: green;
}

.product_link{
    color: purple;
    text-decoration: underline;
}

.product_description{
    color: red;
}

.product_img{
    width: 500px;
    height: 500px;
}